<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface class="exercise">

      <mdc-top-app-bar class="header" dense>
        <mdc-top-app-bar-row>
          <mdc-top-app-bar-section align="start" title="Exercise Details">
            <button mdcTopAppBarNavIcon>
              <mdc-icon>close</mdc-icon>
            </button>
          </mdc-top-app-bar-section>


          <mdc-top-app-bar-section align="end">
            <mdc-icon mdcTopAppBarActionItem>more_vert</mdc-icon>
          </mdc-top-app-bar-section>
        </mdc-top-app-bar-row>
      </mdc-top-app-bar>

    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>