@use '@material/button';
@use '@material/theme';
@use '@material/textfield/_index' as textfield;

.set {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;

  &__header {
    grid-column: span 2;
    margin: 0;
  }

  &__input {
    &.-equipment {
      // force select to take up 100% of its container
      grid-column: span 2;
    }

    &.-variation {
      grid-column: span 2;
    }

    &.-assisted {
      @include textfield.density(-4);
    }
  }

  &__equipment-select{
    display: flex;
    flex-direction: column;
  }

  &__header {
    &-button {
      @include button.filled-accessible(theme.$primary);
    }
  }
}