<div class="set">
  <div class="set__progress" [ngClass]="'-' + set.status + ' -' + modifier">
    <span class="set__progress-label" mdcSubtitle1>{{ set.index + 1 }}</span>
  </div>

  <div class="set__inputs">
    <div class="set__inputs-row">
      <mdc-text-field placeholder="Reps" class="set__input" outlined></mdc-text-field>
      <mdc-text-field placeholder="Weight" class="set__input" outlined></mdc-text-field>
    </div>

    <div class="set__inputs-row" *ngIf="set.index == 0">
      <mdc-form-field>
        <mdc-checkbox touch></mdc-checkbox>
        <label>assisted</label>
      </mdc-form-field>
    </div>
  </div>
</div>
