@use "@material/theme";
@use '@material/theme/color-palette' as material-color;
@use '@material/theme/variables' as material-variables;

.exercise-card {
  margin: 1rem;

  &__header {
    padding: 1rem;
  }

  &__title {
    margin: 0;
  }

  &__top {
    display: flex;

    &-menu {
      margin-left: auto;
    }
  }

  &__target {
    @include theme.prop(color, text-secondary-on-background);
  }

  &__difficulty {
    display: block;
    margin-top: 1rem;
  }

  &__notes {
    margin-bottom: 0;
  }

  &__animation {
    overflow: hidden;
  }

  &__set {
    &-index {
      @include theme.prop(background-color, primary);
    }
  }

  &__set {
    position: relative;

    &.-solid:before {
      border-color: material-variables.$primary;
      border-left-style: solid;
    }

    &.-dashed:before {
      border-color: material-variables.$primary;
      border-left-style: dashed;
    }

    &:before {
      content: '';
      height: 100%;
      border-left: 2px solid transparent;
      position: absolute;
      left: 34px;
      top: 50%;
    }

    &-content {
      align-items: center;
      display: flex;
      flex: 1;
    }

    &-flag {
      margin-left: auto;
    }

    &-icon {
      margin-left: 0.5rem;
    }
  }

  &__progress-label {
    @include theme.prop(background-color, material-color.$deep-purple-50);
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50%;
    color: transparent;
    display: flex;
    height: 2em;
    justify-content: center;
    width: 2em;
    z-index: 1;

    .-complete & {
      background-color: material-variables.$primary;
      color: #fff;
      border-color: material-variables.$primary;
      font-weight: 600;
     // color: material-variables.$primary;
    }

    .-in-progress & {
      background-color: #fff;
      border-color: material-variables.$primary;
      border-style: dashed;
      color: #fff;
    }
  }

}