<mdc-card class="exercise-card" outlined>
  <mdc-card-primary-action class="exercise-card__action">
    <h2 mdcHeadline6 class="exercise-card__title">{{ exercise.label }}</h2>
    <span mdcSubtitle2 class="exercise-card__target">
      {{ exercise.targetWeight }} • {{ exercise.sets.length + 1 }} sets x {{ exercise.targetReps }} reps
    </span>

    <div mdcBody2 class="exercise-card__difficulty">
      <mdc-icon inline class="exercise-card__difficulty-icon">add_circle</mdc-icon>
      <span>Harder than last time</span>
    </div>
  </mdc-card-primary-action>

  <mdc-list-divider class="exercise-card__divider"></mdc-list-divider>

  <div class="exercise-card__animation" [@bodyExpansion]="this.isExpanded ? 'expanded' : 'collapsed'">
    <mdc-list avatar dense class="exercise-card__sets" [disableRipple]="true">
      <div class="exercise-card__set" *ngFor="let set of exercise.sets; index as i">
        <mdc-list-item>
          <span mdcListItemGraphic class="exercise-card__set-index">{{ i + 1 }}</span>
          {{ set.weight }} {{ set.reps }}
        </mdc-list-item>
      </div>
    </mdc-list>
    <!--<h3 mdcSubtitle1 class="exercise-card__sets-title">Your sets</h3>

    <mdc-chip-set [input]="true" class="exercise-card__sets-container">
      <mdc-chip
        [input]="true"
        *ngFor="let set of exercise.sets; index as i"
        class="exercise-card__set"
        [value]="i"
        [ngClass]="{'-empty': !set.reps}">
        <mdc-chip-text class="">{{ set.reps  || ' ' }}</mdc-chip-text>
      </mdc-chip>
    </mdc-chip-set>-->
  </div>


  <mdc-card-actions>
    <mdc-card-action-buttons>
      <button mdc-button mdcCardAction="button" (click)="onExpandClick()">
        {{ this.isExpanded ? 'Collapse' : 'Expand' }}
      </button>
    </mdc-card-action-buttons>

    <mdc-card-action-icons>
      <button mdcIconButton mdcCardAction="icon">
        <mdc-icon>delete</mdc-icon>
      </button>
      <a mdcIconButton mdcCardAction="icon" [routerLink]="[exercise.id]">
        <mdc-icon>edit</mdc-icon>
      </a>
    </mdc-card-action-icons>
  </mdc-card-actions>
</mdc-card>