<mdc-card class="exercise-card" outlined>
  <div class="exercise-card__top">
    <div class="exercise-card__header">
      <h2 mdcHeadline6 class="exercise-card__title">{{ exercise.label }}</h2>
      <span mdcSubtitle2 class="exercise-card__target">
        {{ exercise.targetWeight | unit: exercise.equipment }} • {{ exercise.sets.length }} sets x {{ exercise.targetReps }} reps
      </span>

      <p *ngIf="exercise.notes" class="exercise-card__notes" mdcBody2>{{ exercise.notes }}</p>
    </div>

    <div mdcMenuSurfaceAnchor #cardButton class="exercise-card__top-menu">
      <button mdcTopAppBarNavIcon (click)="cardMenu.open = !cardMenu.open">
        <mdc-icon>more_vert</mdc-icon>
      </button>

      <mdc-menu #cardMenu [anchorElement]="cardButton">
        <mdc-list>
          <mdc-list-item>
            <mdc-icon mdcListItemGraphic class="icon">delete</mdc-icon>
            Remove
          </mdc-list-item>
        </mdc-list>
      </mdc-menu>
    </div>
  </div>

  <app-exercise-difficulty [difficulty]="exercise.difficulty"></app-exercise-difficulty>

  <mdc-list-divider class="exercise-card__divider"></mdc-list-divider>

  <div class="exercise-card__animation" [@bodyExpansion]="this.isExpanded ? 'expanded' : 'collapsed'">
    <mdc-list
      class="exercise-card__sets"
      avatar
      dense
      #list
      [singleSelection]="true"
      (selectionChange)="onSetSelect($event)">

      <div class="exercise-card__set" [ngClass]="'-' + set.borderStyle" *ngFor="let set of exercise.sets; index as i">
        <mdc-list-item [ngClass]="'-' + set.status" [value]="i">
          <div mdcListItemGraphic class="exercise-card__progress">
            <span class="exercise-card__progress-label">{{ set.reps }}</span>
          </div>

          <div class="exercise-card__set-content">
            {{ set.weight | unit: exercise.equipment }}
            <!-- superset -->
            <!--<ng-container *ngIf="exercise.id == 2">
              <div mdcListItemGraphic class="exercise-card__progress">
                <span class="exercise-card__progress-label">{{ set.reps }}</span>
              </div>
              <div mdcListItemGraphic class="exercise-card__progress">
                <span class="exercise-card__progress-label">{{ set.reps }}</span>
              </div>
              <div mdcListItemGraphic class="exercise-card__progress">
                <span class="exercise-card__progress-label">{{ set.reps }}</span>
              </div>
            </ng-container>-->

            <app-set-flag [set]="set" class="exercise-card__set-flag"></app-set-flag>
          </div>

          <mdc-icon class="exercise-card__set-icon" mdcListItemMeta>edit</mdc-icon>
        </mdc-list-item>
      </div>
    </mdc-list>
  </div>

  <mdc-card-actions fullBleed>
    <button mdc-button mdcCardAction="button" (click)="onExpandClick()">
      Your Sets
    </button>
  </mdc-card-actions>
</mdc-card>