<mdc-top-app-bar class="header">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Exercise Details">
      <button mdcTopAppBarNavIcon (click)="onDoneClick()">
        <mdc-icon>check</mdc-icon>
      </button>
    </mdc-top-app-bar-section>


    <mdc-top-app-bar-section align="end">
      <button mdcIconButton [on]="true" (change)="onFavouriteClick($event)">
        <mdc-icon mdcIconOn>star</mdc-icon>
        <mdc-icon>star_border</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>