<mdc-drawer
  drawer="modal"
  [open]="isOpen | async"
  (openedChange)="onOpenChange($event)"
>
  <mdc-drawer-header title="Drawer Title" subtitle="Subtitle"></mdc-drawer-header>

  <mdc-drawer-content>
    <mdc-list>
      <a
        mdc-list-item
        routerLinkActive
        #rla="routerLinkActive"
        *ngFor="let item of items"
        [routerLink]="item.link"
        [activated]="rla.isActive"
      >
        <mdc-icon mdcListItemGraphic>{{ item.icon }}</mdc-icon>
        {{ item.label }}
      </a>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>