@use "sass:map";
@use '@material/list/_index' as list;
@use "@material/theme";
@use '@material/theme/color-palette' as material-color;
@use '@material/theme/variables' as material-variables;

$light-text-colors: map.get(material-variables.$text-colors, light);

:host {
  background-color: material-color.$grey-200;
  display: block;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.workout {
  &__fab {
    display: block;
    margin-left: 1rem;
    position: relative;
    transform: translateY(-50%);
    z-index: 4;
  }

  &__card {
    margin: 1rem;
  }

  &__exercise {
    padding: 1rem;

    &-title {
      margin: 0;
    }

    &-target,
    &-difficulty {
      @include theme.prop(color, text-secondary-on-background);
    }

    &-difficulty {
      align-items: center;
      display: flex;
      margin-top: 1rem;
    }

    &-difficulty-icon {
      @include theme.prop(color, material-color.$green-400);
      margin-right: 0.3rem;
    }

    &-divider {
      //margin: 0 1rem;
    }

    &-sets {
      padding: 12px;
    }

    &-sets-title {
      margin: 1rem 1rem 0;
    }

    &-set {
      min-width: 2rem;
    }
  }
}
