@use "sass:map";
@use '@material/theme/color-palette' as material-color;
@use '@material/theme/variables' as material-variables;

$light-text-colors: map.get(material-variables.$text-colors, light);

:host {
  background-color: material-color.$grey-200;
  display: block;
  min-height: 100vh;
  padding-bottom: 1rem;
  width: 100%;
}
