<button mdc-fab mini class="fab">
  <mdc-icon>add</mdc-icon>
</button>

<mdc-list-group>
  <mdc-list
    class="demo-list--custom"
    twoLine
    avatar
    #list
    [singleSelection]="true"
    [useSelectedClass]="false"
    [useActivatedClass]="false"
    (selectionChange)="onExerciseSelect($event)">
    <mdc-list-item
      *ngFor="let exercise of exercises"
      [value]="exercise.id">
      <mdc-icon mdcListItemGraphic>{{ exercise.icon }}</mdc-icon>

      <mdc-list-item-text [secondaryText]="exercise.status">{{ exercise.label }}</mdc-list-item-text>

      <mdc-icon mdcListItemMeta>edit</mdc-icon>
    </mdc-list-item>
  </mdc-list>
</mdc-list-group>