@use "sass:map";
@use '@material/list/_index' as list;
@use '@material/theme/color-palette' as material-color;
@use '@material/theme/variables' as material-variables;

$dark-text-colors: map.get(material-variables.$text-colors, light);

.workout {
  &__fab {
    display: block;
    margin-left: 1rem;
    position: relative;
    transform: translateY(-50%);
    z-index: 4;
  }

  &__list{
    @include list.item-graphic-fill-color(map.get(material-variables.$property-values, text-icon-on-background));
    @include list.item-graphic-ink-color(map.get($dark-text-colors, primary));
  }
}
